{% extends 'base.html' %}
{% block content %}
    <title>Registration</title>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card" style="width: 400px;">
            <div class="card-body">
                <h3 class="card-title text-center">Регистрация</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.errors }}
                    <div class="mb-3">
                        <label for="username" class="form-label">Никнейм</label>
                        <input type="text" class="form-control" name="username" placeholder="Никнейм" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Имя</label>
                        <input type="text" class="form-control" name="first_name" placeholder="Имя" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Фамилия</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Фамилия" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Адрес электронной почты</label>
                        <input type="email" class="form-control" name="email" placeholder="Адрес электронной почты" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" name="password1" placeholder="Пароль" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Подтверждение пароля</label>
                        <input type="password" class="form-control" name="password2" placeholder="Подтверждение пароля" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
                    </div>
                </form>
                <p class="mt-3 text-center">
                   Уже есть аккаунт? <a href="{% url 'accounts:login' %}">Войти</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}