.course-container {
    max-width: 60%;
    margin: 10px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    color: white;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.course-title {
    color: #f39c12;
    font-size: 28px;
    margin-bottom: 10px;
}

.course-description {
    font-style: italic;
    color: white;
    margin-bottom: 15px;
    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;
}

.course-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.redirect-button,
.enroll-button {
    background: #ff5555;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.redirect-button:hover,
.enroll-button:hover {
    background: #cc0000;
}

.lessons {
    margin-top: 30px;
}

.lessons a{
    text-decoration: none;
    color: inherit;
}

.lesson {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.completed_lesson {
    background: #00990099;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.lesson:hover {
    background: #444;
}

.completed_lesson:hover {
    background: #00aa00aa;
}

.hidden {
    display: none;
}

textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    resize: none;
}

.delete-button,
.submit-button{
    padding: 10px 20px;
    background: #ff5555;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.delete-button:hover,
.submit-button:hover {
    background: #cc0000;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.review-form label {
    font-size: 1.1em;
    color: #bbb;
}

.review-form textarea,
.review-form select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 1em;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.form-group select {
    flex: 0.2;
    min-width: 60px;
}

.reviews {
    margin-top: 30px;
    padding: 20px;
    background: #252525;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.review {
    border-bottom: 1px solid #444;
    padding: 15px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.review:last-child {
    border-bottom: none;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    gap: 5px;
}

.review-user {
    font-weight: bold;
    color: #f39c12;
}

.review-date {
    font-size: 14px;
    color: #bbb;
}

.review-text {
    color: #ddd;
    font-style: italic;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.review-rating {
    margin-top: 8px;
    color: #ffcc00;
    font-size: 16px;
}

.no-reviews {
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.pagination a {
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.pagination a:hover {
    background: #444;
}

.pagination span {
    color: #bbb;
    font-size: 16px;
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    .course-container {
        max-width: 95%;
    }
}