.course-container {
    max-width: 75%;
    margin: 10px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    color: #f5f5f5;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.course-title {
    color: #f39c12;
    font-size: 28px;
    margin-bottom: 10px;
}

.course-description {
    font-style: italic;
    color: #bbb;
    margin-bottom: 15px;
    white-space: pre-line;
}

.course-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.enroll-form {
    text-align: center;
    margin: 20px 0;
}

.enroll-button {
    background: #ff5555;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.enroll-button:hover {
    background: #cc0000;
}

.lessons {
    margin-top: 30px;
}

.lessons a{
    text-decoration: none;
    color: inherit;
}

.lesson {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.completed_lesson {
    background: #00990099;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.lesson:hover {
    background: #444;
}
