{% load static %}
<header>
    <a href="{% url 'core:home' %}" class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo">
    </a>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-toggle">&#9776;</label>
    <nav>
        <ul>
            <li>
                <span>Курсы &bigtriangledown;</span>
                <ul>
                    <li><a href="{% url 'courses:courses' %}">Все курсы</a></li>
                    <li><a href="#">Программирование</a></li>
                    <li><a href="#">Базы данных</a></li>
                </ul>
            </li>

            {% if request.user.is_authenticated %}
                <li><a href="{% url 'user_profile:profile' %}">Профиль</a></li>
                <li>
                    <form method="post" action="{% url 'accounts:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-button">Выход</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}">Вход</a></li>
                <li><a href="{% url 'accounts:signin' %}">Регистрация</a></li>
            {% endif %}
            <li><a href="#">О нас</a></li>
        </ul>
    </nav>
</header>
