{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>Курсы</title>
    <link rel="stylesheet" href="{% static 'css/courses/courses.css' %}">
    <h1 style="text-align: center; margin-top: 12px; margin-bottom: 0; padding: 0; color: #ffa726;">Каталог</h1>
    <div class="courses-container">
        {% for course in courses %}
            <a href="{{ course.slug }}" class="course-card" style="text-decoration: none">
                <img src="{{ course.cover.url }}" alt="{{ course.title }}">
                <div class="course-info">
                    <h2>{{ course.title }}</h2>
                    <p>{{ course.description }}</p>
                    <div class="meta">
                        <span style="display: flex; justify-content: space-between">Автор: {{ course.author.username }}
                            <span>🕒 {{ course.duration }} мес.</span>
                        </span>
                        <span>Колчиество очков за курс: {{ course.total_points }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
