{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/courses_info.css' %}">
    <title>{{ course.title }}</title>
    <div class="course-container">
        <h1 class="course-title">{{ course.title }}</h1>
        <p class="course-meta">
            Автор: <strong>{{ course.author }}</strong> | Создан: {{ course.created_at }} | Обновлён: {{ course.updated_at }}
        </p>
        <h2>Описание</h2>
        <p class="course-description">{{ course.description }}</p>
        <h2>Требуемые навыки</h2>
        <p class="course-description">{{ course.skill_requirements }}</p>

        {% if is_user_enrolled %}
            <p class="course-description">Вы подписаны</p>
        {% elif not is_user_enrolled %}
            <form method="post" action="{% url 'api:enroll_course' %}">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ request.user.id }}">
                <input type="hidden" name="course" value="{{ course.id }}">
                <button type="submit" class="enroll-button">Записаться на курс</button>
            </form>
        {% else %}
            <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="enroll-button" style="text-decoration: none">
                Записаться на курс
            </a>
        {% endif %}

        <div class="lessons">
            <h2>Список уроков</h2>
            {% for lesson in lessons %}
                <a href="{% url 'courses:lessons:lesson_details' course_slug=course.slug lesson_id=lesson.id %}">
                {% if lesson.id in completed_lessons %}
                    <p class="completed_lesson">{{ lesson.title }}</p>
                {% else %}
                    <p class="lesson">{{ lesson.title }}</p>
                {% endif %}
                </a>

            {% endfor %}
        </div>
        <h2>Отзывы</h2>
        {% for review in reviews %}
            {{ review.user.username }}
            {{ review.created_at }}
            {{ review.text }}
            {{ review.rating }}
        {% endfor %}
    </div>
    <script src="{% static 'js/courses/courses_info.js' %}"></script>
{% endblock %}
