{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>Курсы</title>
    <link rel="stylesheet" href="{% static 'css/courses/courses.css' %}">
    <div class="courses-container">
        {% for course in courses %}
            <a href="{{ course.slug }}" class="course-card" style="text-decoration: none">
                <img src="{{ course.cover.url }}" alt="{{ course.title }}">
                <div class="course-info">
                    <h2>{{ course.title }}</h2>
                    <p>{{ course.description }}</p>
                    <span class="author">Автор: {{ course.author.username }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
