.lesson-container {
    max-width: 75%;
    margin: 10px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    color: #f5f5f5;
}

.lesson-title {
    color: #f39c12;
    font-size: 28px;
}

.lesson-content {
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;
}

.lesson-meta {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 20px;
}

.lesson-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.lesson-nav-button {
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.lesson-nav-button:hover {
    background: #444;
}


.lesson-task {
    background: #1e1e1e;
    color: #fff;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 18px;
}

.lesson-task-answer {
    display: block;
    margin: 8px 0;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    background: #333;
}

.lesson-task-answer:hover {
    background: #444;
}

.lesson-task input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ff9800;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 8px;
    transition: 0.3s;
}

.lesson-task input[type="checkbox"]:checked {
    background: #f39c12;
    border-color: #f39c12;
}

.send-button {
    display: inline-block;
    padding: 12px 20px;
    background: #f39c12;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.send-button:hover {
    background-color: #d57f01;
}

.lesson-task-correct {
    background: #00990099;
    transition: background-color 0.5s;
}

.lesson-task-correct:hover {
    background: #00aa00aa;
}

.lesson-task-incorrect {
    background: #990000;
    transition: background-color 0.5s;
}
.lesson-task-incorrect:hover {
    background: #aa0000;
}

.lesson-task-incorrect-not-chosen {
    color: #990000;
    transition: color 0.5s;
}

.lesson-task-correct-not-chosen {
    color: #00990099;
    transition: color 0.5s;
}
